<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cart.css" />
    <title>CoffeeBean</title>
  </head>
  <body>
    <%- include("./header.ejs") %>
    <main>
      <form class="formTable" method="post">
        <table>
          <thead>
            <tr>
              <th>상품정보</th>
              <th>수량</th>
              <th>가격</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td>장바구니가 비어있습니다.</td>
            <td></td>
            <td></td>
            <td></td>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <th>합계</th>
              <td>원</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </form>
    </main>

    <%- include("./footer.ejs") %>
  </body>
</html>
