<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/b669fcd44b.js"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        box-sizing: border-box;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      a {
        color: black;
        text-decoration: none;
      }

      .header {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
      }

      .user-info {
        display: flex;
        position: absolute;
        right: 30px;
      }

      .login {
        width: 200px;
        height: 100px;
        display: none;
        position: absolute;
        right: 30px;
        bottom: -70px;
        background-color: lightblue;
        z-index: 100;
      }
    </style>
  </head>
  <body>
    <%- include("./header.ejs") %>
  </body>
</html>
