* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.header-container {
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.header-container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.header img {
  display: block;
  width: 380px;
  height: 160px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bars {
  visibility: hidden;
  padding: 10px;
  font-size: var(--font-large);
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-info button {
  padding: 10px;
}

.user-info i {
  font-size: 24px;
}

.user-info i:hover {
  color: #757575;
}

.header-user {
  position: relative;
}

.login {
  width: 230px;
  height: auto;
  display: none;
  position: absolute;
  right: 0;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
}

.sign {
  display: block;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  background-color: #fff;
  padding: 4px 0;
  border-radius: 4px;
  transition: all 100ms ease-in;
}

.sign:hover {
  color: #fff;
  background-color: #757575;
}

.sign:nth-child(1) {
  margin-bottom: 4px;
}

.header-menu-lists {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.1rem;
}

.header-menu-lists a:hover {
  color: #757575;
}
