main {
  padding: 20px 40px;
  background-color: #f5f5f5;
}

.header-product {
  text-align: center;
  padding: 40px;
}

.header-product h3 {
  font-size: 22px;
  font-weight: 300;
  color: #565656;
}

.product-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-list .item:last-child {
  margin-right: 0;
}

.item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item .item_img {
  width: 230px;
  height: 230px;
  border-radius: 6px;
  overflow: hidden;
}

.item .item_img img {
  display: block;
  width: 230px;
  height: 230px;
  transition: transform 200ms ease-in;
}

.item .item_img img:hover {
  transform: scale(1.1);
}

.item .item_info {
  background-color: #fff;
  padding: 10px;
}

.item_info .name {
  color: #3f3d3a;
  font-size: 16px;
}

.item_info .price {
  color: #86848e;
  font-size: 14px;
}
